$font_main = 'Times New Roman'
$font_second = 'Arial'
$font-size = 20px
$font-size_sm = 16px

$black = #000

$transition-speed = .5s

$container-lg = 1260px
$container-m = 1080px
$container-sm = 992px

$desktop_m = 1440px
$desktop_sm = 1200px

$tablet_lg = 1080px
$tablet = 992px
$tablet_sm = 860px

$mobile_lg = 580px
$mobile_sm = 320px

$mobile = '(max-width:660px)'
$desktop = '(min-width:661px)'

$ios = '(-webkit-overflow-scrolling: touch)'

$ie = 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)'

$font-color_main = #FFFFFF
$font-color_alt = #000000

$color_main_01 = #FFFFFF
$color_alt_01 = #282a2d
$color_second_01 = #22539d
